@{
    ViewBag.Title = "Job Settings";
}
<div class="container">
    <div><h3>Add Jobs</h3></div>
    <hr />
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Job Id</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Unique Job Id">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Job Title</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Job Title">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Company</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Company">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Vacancy</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Number of Vacancy">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Top Skill</label>
                <input type="text" class="form-control" id="inputCity" placeholder="User Comma (,) to seperate skill">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity">Minor Skill</label>
                <input type="text" class="form-control" id="inputCity" placeholder="User Comma (,) to seperate skill">
            </div>
        </div>        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>